<!DOCTYPE html>
<html lang="en" ng-app="tech-talk">
<head>
	<meta charset="UTF-8">
	<title>Angular Tech Talk</title>
</head>
<body ng-controller="AppController">
	<app-header></app-header>
	<div id="questions" ng-controller="QuestionsController">

		<form id="responseForm" ng-submit="saveAnswers(answers)">

			<div ng-repeat="question in questions.questions">
				<label>{{question.question}}</label>

				<div ng-if="question.type == 'bool'">
                    <input type="radio" name="answer{{question.id}}" value="1" ng-model="answers[question.id]"><label>Yes</label>
					<input type="radio" name="answer{{question.id}}" value="0" ng-model="answers[question.id]"><label>No</label>					
				</div>

				<div ng-if="question.type == 'text'">
					<textarea ng-model="answers[question.id]"></textarea>
				</div>
			</div>

			<button>Submit</button>
		</form>
	</div>

	<script src="angular/angular.min.js"></script>
	
	<script src="app/app.js"></script>
	<script src="app/resources.js"></script>

	<script src="app/questions/questions.service.js"></script>
	<script src="app/questions/questions.controller.js"></script>

	<script src="app/header/header.controller.js"></script>
	<script src="app/header/header.directive.js"></script>
</body>
</html>